# --- DKSubs Proxy Settings ---
PROWLARR_URL=http://prowlarr:9696
PROWLARR_API_KEY=
CACHE_DB=/config/proxy_cache.db

# --- OldBoys Proxy Settings ---
OB_BASE_URL=https://oldboys.pw
OB_API_TOKEN=
OB_RID=
PROXY_API_KEY=
OB_PROXY_DB=/config/ob_meta.db

# --- DanskArr Settings ---
RADARR_URL=http://radarr:7878
SONARR_URL=http://sonarr:8989
RADARR_APIKEY=
SONARR_APIKEY=
ALTMOUNT_APIKEY=
PROXY_URL=http://localhost:9699
